<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Automation Suite">

    <test name="OrangeHRM Test Suite">

        <classes>

            <class name="com.orangehrm.tests.LoginTest"/>
            <class name="com.orangehrm.tests.EmployeeCreationTest"/>
            <class name="com.orangehrm.tests.EmployeeUpdateTest"/>
            <class name="com.orangehrm.tests.EmployeeDeleteTest"/>
            <class name="com.orangehrm.tests.EmployeeApiTest"/>
            <class name="com.orangehrm.tests.RoleValidationTest"/>

        </classes>

    </test>

</suite>